---
- hosts: ip0*
  vars:
    backup: true
  tasks:
    - name: "백업폴더가 지정되어 있는지?"
      fail:
        msg: '백업폴더가 지정되어 있어야 합니다.'
      when: backup_folder is not defined
    - name: "crontab파일 백업"
      copy:
        src: /etc/crontab
        dest: '{{ backup_folder}}/crontab'
        remote_src: true
      when: backup
      become: true